We've seen a preview of how Pandas handles missing values using the None type and Numpy NaN values. Missing values are pretty common in data cleaning activities. And, missing values can be there for any number of reasons, and i just want to touch on a few here.

For instance, if you are running a survey and a respondant didnt answer a qestion the missing value is actually an omission. This kind of missing data is called **Missing at Random** if there are other variables that might be used predict the variable which is missing. In mmy work when i delivery surveys I often find that missing data, say the interest in being involved in a follow up study often has some correlation with another data field, like gender or ethnicity. If there is no relionship to other variables, then we call this data **Missing Completely at Random (MCAR)**.

There are just two examples of missing data, and there are many more. For instance, data might be missing because it wasn't collected, either by the process responsible for collecting that data, such as a researcher, or because it wouldnt make sense if it were collected. This last example is extremely common when you start joining DataFrames together from multiple sources, sucah as joining a list of people at a university with a list of offices in the university (students generally dont have offices).

Lets look at some ways of hanling missing data in pandas.

In [4]:
# lets import pandas
import pandas as pd

In [ ]:
# Pandas is pretty good at detecting missing values directly from underlying data formats, like CSV files.
# altough most missing values are often formatted as NaN, NULL, None, or N/A, sometimes missing values are
# not labeled so clearly. For example, i've worked with social scientist who regulary used the value of 99
# in binary categories to indicate a missing value. The pandas read_csv() function has a parameter called
# na_values to let us specify the form of missing values. it allows scalar, string, list, or dictionaries to
# be used.

# lets load a piece of data from a file called log.csv
df = pd.read_csv('/content/class_grades.csv')
df.head(10)

   Prefix  Assignment  Tutorial  Midterm  TakeHome  Final
0       5       57.14     34.09    64.38     51.48  52.50
1       8       95.05    105.49    67.50     99.07  68.33
2       8       83.70     83.17      NaN     63.15  48.89
3       7         NaN       NaN    49.38    105.93  80.56
4       8       91.32     93.64    95.00    107.41  73.89
5       7       95.00     92.58    93.12     97.78  68.06
6       8       95.05    102.99    56.25     99.07  50.00
7       7       72.85     86.85    60.00       NaN  56.11
8       8       84.26     93.10    47.50     18.52  50.83
9       7       90.10     97.55    51.25     88.89  63.61

In [ ]:
# we can actually use the function .isnull() to create a boolean mask of the whole dataframe. this effectively
# broadcasts the isnull() function to every cell of data
mask = df.isnull()
mask.head(10)

   Prefix  Assignment  Tutorial  Midterm  TakeHome  Final
0   False       False     False    False     False  False
1   False       False     False    False     False  False
2   False       False     False     True     False  False
3   False        True      True    False     False  False
4   False       False     False    False     False  False
5   False       False     False    False     False  False
6   False       False     False    False     False  False
7   False       False     False    False      True  False
8   False       False     False    False     False  False
9   False       False     False    False     False  False

In [ ]:
# this can be useful for processing rows based on certain columns of data. another useful operation is to be
# able to drop all of those rows which have any missing data, which can be done with the dropna() function.
df.dropna().head(10)

    Prefix  Assignment  Tutorial  Midterm  TakeHome  Final
0        5       57.14     34.09    64.38     51.48  52.50
1        8       95.05    105.49    67.50     99.07  68.33
4        8       91.32     93.64    95.00    107.41  73.89
5        7       95.00     92.58    93.12     97.78  68.06
6        8       95.05    102.99    56.25     99.07  50.00
8        8       84.26     93.10    47.50     18.52  50.83
9        7       90.10     97.55    51.25     88.89  63.61
10       7       80.44     90.20    75.00     91.48  39.72
12       8       97.16    103.71    72.50     93.52  63.33
13       7       91.28     83.53    81.25     99.81  92.22

In [ ]:
# note how the rows indexed with 2, 3, 7, and 11 are now gone. One of the handy functions that Pandas has for
# working with missing values is the filling function, fillna(). This function takes a number or parameters.
# you could pass a single value which is called a scalar value to change all of the missing data to one
# value. this isnt really applicable in this case, but its a pretty common use case.

# so, if we wanted to fill all missing values with 0, we would use fillna
df.fillna(0, inplace=True)
df.head(10)

   Prefix  Assignment  Tutorial  Midterm  TakeHome  Final
0       5       57.14     34.09    64.38     51.48  52.50
1       8       95.05    105.49    67.50     99.07  68.33
2       8       83.70     83.17     0.00     63.15  48.89
3       7        0.00      0.00    49.38    105.93  80.56
4       8       91.32     93.64    95.00    107.41  73.89
5       7       95.00     92.58    93.12     97.78  68.06
6       8       95.05    102.99    56.25     99.07  50.00
7       7       72.85     86.85    60.00      0.00  56.11
8       8       84.26     93.10    47.50     18.52  50.83
9       7       90.10     97.55    51.25     88.89  63.61

In [1]:
 # note that the inplace attribute causes pandas to fill the values inline and doesnt return a copy of the
 # dataframe, but instead modifes the dataframe you we have.

In [5]:
# we can also use the na_filter option to turn off white space filtering, if white space is an actual value of
# interest. but in practice, this is pretty rare. in data without any NAs, passing na_filter=False, can
# improve the performance of reading a large file.

# in addition to rules controlling how missing values might be loaded, its sometimes useful to consider
# missing values as actually having information. i'll give an example from my own reasearch. i often deal with
# logs from online learning systems. i've looked at video use in lecture capture systems. in these systems
# its common for the player for have a heartbeat functionality where playback statistics are sent to the
# server every so often, maybe every 30 seconds. these heartbeats can get big as they can carry the whole
# state of the playback system such as where the video play head is at, where the video size is, which video
# is being rendered to the screen, how loud the volume is.

# if we load the data file log.csv, we can see an example of what this might look like.
df = pd.read_csv('/content/log.csv')
df.head(20)

          time    user          video  playback position paused  volume
0   1469974424  cheryl     intro.html                  5  False    10.0
1   1469974454  cheryl     intro.html                  6    NaN     NaN
2   1469974544  cheryl     intro.html                  9    NaN     NaN
3   1469974574  cheryl     intro.html                 10    NaN     NaN
4   1469977514     bob     intro.html                  1    NaN     NaN
5   1469977544     bob     intro.html                  1    NaN     NaN
6   1469977574     bob     intro.html                  1    NaN     NaN
7   1469977604     bob     intro.html                  1    NaN     NaN
8   1469974604  cheryl     intro.html                 11    NaN     NaN
9   1469974694  cheryl     intro.html                 14    NaN     NaN
10  1469974724  cheryl     intro.html                 15    NaN     NaN
11  1469974454     sue  advanced.html                 24    NaN     NaN
12  1469974524     sue  advanced.html                 25    NaN     NaN
13  1469974424     sue  advanced.html                 23  False    10.0
14  1469974554     sue  advanced.html                 26    NaN     NaN
15  1469974624     sue  advanced.html                 27    NaN     NaN
16  1469974654     sue  advanced.html                 28    NaN     5.0
17  1469974724     sue  advanced.html                 29    NaN     NaN
18  1469974484  cheryl     intro.html                  7    NaN     NaN
19  1469974514  cheryl     intro.html                  8    NaN     NaN

In [8]:
# in this data the first column is a timestamp in the unix epoch format. the next column is
# the username followed by a web page they're visiting and the video that they're playing. each row
# of the DataFrame has a playback position. and we can see that as the playback position increases by one,
# the timestamp increases by about 30 seconds.

# except for user bob. it turns out that Bob has paused his playback so as time increases the playback
# position doesnt change. note too how difficult it is for us to try and derive this knowledge from the
# data because its not sorted by time stamp as one migh expect. this is actually not uncommon on systems which
# have a high degree of parallelism. there are a lot of missing values in the paused and volume columns.
# its not efficient to send this information across the network if it hasnt changed. so this articualr system
# just insert null values into the database if there's no changes.

In [9]:
# next up is the method parameter(). the two common fill values are ffill and bfill. ffill is for forward
# filling and it updates an na value for a particular cell with the value from the previous row. bfill is
# backward filling, which is the opposite of ffill. it fills the missing values with the next valid value.
# its important to note that your data needs to be sorted in order for this to have the effect you might
# want. data which comes from traditional databse management systems usually has no order guarantee, just
# like this data. so be careful.

# in Pandas we can sort either by index or by values. here we'll just promote the time stamp to an index then
# sort on the index
df = df.set_index('time')
df = df.sort_index()
df.head(20)

            index    user          video  playback position paused  volume
time
1469974424      0  cheryl     intro.html                  5  False    10.0
1469974424     13     sue  advanced.html                 23  False    10.0
1469974454      1  cheryl     intro.html                  6    NaN     NaN
1469974454     11     sue  advanced.html                 24    NaN     NaN
1469974484     18  cheryl     intro.html                  7    NaN     NaN
1469974514     19  cheryl     intro.html                  8    NaN     NaN
1469974524     12     sue  advanced.html                 25    NaN     NaN
1469974544      2  cheryl     intro.html                  9    NaN     NaN
1469974554     14     sue  advanced.html                 26    NaN     NaN
1469974574      3  cheryl     intro.html                 10    NaN     NaN
1469974604      8  cheryl     intro.html                 11    NaN     NaN
1469974624     15     sue  advanced.html                 27    NaN     NaN
1469974634     29  cheryl     intro.html                 12    NaN     NaN
1469974654     16     sue  advanced.html                 28    NaN     5.0
1469974664     30  cheryl     intro.html                 13    NaN     NaN
1469974694      9  cheryl     intro.html                 14    NaN     NaN
1469974724     10  cheryl     intro.html                 15    NaN     NaN
1469974724     17     sue  advanced.html                 29    NaN     NaN
1469974754     20     sue  advanced.html                 30    NaN     NaN
1469974824     21     sue  advanced.html                 31    NaN     NaN

In [10]:
df = df.drop(columns='index')
df.head(20)

              user          video  playback position paused  volume
time
1469974424  cheryl     intro.html                  5  False    10.0
1469974424     sue  advanced.html                 23  False    10.0
1469974454  cheryl     intro.html                  6    NaN     NaN
1469974454     sue  advanced.html                 24    NaN     NaN
1469974484  cheryl     intro.html                  7    NaN     NaN
1469974514  cheryl     intro.html                  8    NaN     NaN
1469974524     sue  advanced.html                 25    NaN     NaN
1469974544  cheryl     intro.html                  9    NaN     NaN
1469974554     sue  advanced.html                 26    NaN     NaN
1469974574  cheryl     intro.html                 10    NaN     NaN
1469974604  cheryl     intro.html                 11    NaN     NaN
1469974624     sue  advanced.html                 27    NaN     NaN
1469974634  cheryl     intro.html                 12    NaN     NaN
1469974654     sue  advanced.html                 28    NaN     5.0
1469974664  cheryl     intro.html                 13    NaN     NaN
1469974694  cheryl     intro.html                 14    NaN     NaN
1469974724  cheryl     intro.html                 15    NaN     NaN
1469974724     sue  advanced.html                 29    NaN     NaN
1469974754     sue  advanced.html                 30    NaN     NaN
1469974824     sue  advanced.html                 31    NaN     NaN

In [11]:
# if we look closely at the output though we'll notice that the index isnt really unique.
# two users seem to be able to use the system at the same time. again, a veryy common case.
# lets reset the index, and use some multi-level indexing on time AND user together instead,
# promote the username to a second level of the index to deal with that issue.

df = df.reset_index()
df.head(20)

          time    user          video  playback position paused  volume
0   1469974424  cheryl     intro.html                  5  False    10.0
1   1469974424     sue  advanced.html                 23  False    10.0
2   1469974454  cheryl     intro.html                  6    NaN     NaN
3   1469974454     sue  advanced.html                 24    NaN     NaN
4   1469974484  cheryl     intro.html                  7    NaN     NaN
5   1469974514  cheryl     intro.html                  8    NaN     NaN
6   1469974524     sue  advanced.html                 25    NaN     NaN
7   1469974544  cheryl     intro.html                  9    NaN     NaN
8   1469974554     sue  advanced.html                 26    NaN     NaN
9   1469974574  cheryl     intro.html                 10    NaN     NaN
10  1469974604  cheryl     intro.html                 11    NaN     NaN
11  1469974624     sue  advanced.html                 27    NaN     NaN
12  1469974634  cheryl     intro.html                 12    NaN     NaN
13  1469974654     sue  advanced.html                 28    NaN     5.0
14  1469974664  cheryl     intro.html                 13    NaN     NaN
15  1469974694  cheryl     intro.html                 14    NaN     NaN
16  1469974724  cheryl     intro.html                 15    NaN     NaN
17  1469974724     sue  advanced.html                 29    NaN     NaN
18  1469974754     sue  advanced.html                 30    NaN     NaN
19  1469974824     sue  advanced.html                 31    NaN     NaN

In [12]:
df = df.set_index(['time', 'user'])
df.head(20)

                           video  playback position paused  volume
time       user
1469974424 cheryl     intro.html                  5  False    10.0
           sue     advanced.html                 23  False    10.0
1469974454 cheryl     intro.html                  6    NaN     NaN
           sue     advanced.html                 24    NaN     NaN
1469974484 cheryl     intro.html                  7    NaN     NaN
1469974514 cheryl     intro.html                  8    NaN     NaN
1469974524 sue     advanced.html                 25    NaN     NaN
1469974544 cheryl     intro.html                  9    NaN     NaN
1469974554 sue     advanced.html                 26    NaN     NaN
1469974574 cheryl     intro.html                 10    NaN     NaN
1469974604 cheryl     intro.html                 11    NaN     NaN
1469974624 sue     advanced.html                 27    NaN     NaN
1469974634 cheryl     intro.html                 12    NaN     NaN
1469974654 sue     advanced.html                 28    NaN     5.0
1469974664 cheryl     intro.html                 13    NaN     NaN
1469974694 cheryl     intro.html                 14    NaN     NaN
1469974724 cheryl     intro.html                 15    NaN     NaN
           sue     advanced.html                 29    NaN     NaN
1469974754 sue     advanced.html                 30    NaN     NaN
1469974824 sue     advanced.html                 31    NaN     NaN

In [13]:
# now that we have the data indexed and sorted appropriately, we can fill the missing datas using ffill.
# ist good to remember when dealing with missing values so you can deal with individual columns or sets of
# columns by projecting them. so you dont have to fix all missing values in one command.


df = df.fillna(method='ffill')
df.head(20)

                           video  playback position  paused  volume
time       user
1469974424 cheryl     intro.html                  5   False    10.0
           sue     advanced.html                 23   False    10.0
1469974454 cheryl     intro.html                  6   False    10.0
           sue     advanced.html                 24   False    10.0
1469974484 cheryl     intro.html                  7   False    10.0
1469974514 cheryl     intro.html                  8   False    10.0
1469974524 sue     advanced.html                 25   False    10.0
1469974544 cheryl     intro.html                  9   False    10.0
1469974554 sue     advanced.html                 26   False    10.0
1469974574 cheryl     intro.html                 10   False    10.0
1469974604 cheryl     intro.html                 11   False    10.0
1469974624 sue     advanced.html                 27   False    10.0
1469974634 cheryl     intro.html                 12   False    10.0
1469974654 sue     advanced.html                 28   False     5.0
1469974664 cheryl     intro.html                 13   False     5.0
1469974694 cheryl     intro.html                 14   False     5.0
1469974724 cheryl     intro.html                 15   False     5.0
           sue     advanced.html                 29   False     5.0
1469974754 sue     advanced.html                 30   False     5.0
1469974824 sue     advanced.html                 31   False     5.0

In [16]:
# we can also do customized fill-in to replace values with the replace() function. it allows replacement from
# several approaches: value-to-value, list, dictionary, regex. lets generate a simple example
df = pd.DataFrame({'A': [1, 1, 2, 3, 4],
                   'B': [3, 6, 3, 8, 9],
                   'C': ['a', 'b', 'c', 'd', 'e']})
df

   A  B  C
0  1  3  a
1  1  6  b
2  2  3  c
3  3  8  d
4  4  9  e

In [17]:
# we can replace 1's with 100, lets try the value-to-value approach
df.replace(1, 100)

     A  B  C
0  100  3  a
1  100  6  b
2    2  3  c
3    3  8  d
4    4  9  e

In [18]:
# how about changing two values? lets try the list approach for example, we want to change 1's to 100
# and 3's to 300
df.replace([1, 3], [100, 300])

     A    B  C
0  100  300  a
1  100    6  b
2    2  300  c
3  300    8  d
4    4    9  e

In [19]:
# whats really cool about pandas replacement is that it supports regex too!
# lets look at our data from the dataset logs again
df = pd.read_csv('/content/log.csv')
df.head(20)

          time    user          video  playback position paused  volume
0   1469974424  cheryl     intro.html                  5  False    10.0
1   1469974454  cheryl     intro.html                  6    NaN     NaN
2   1469974544  cheryl     intro.html                  9    NaN     NaN
3   1469974574  cheryl     intro.html                 10    NaN     NaN
4   1469977514     bob     intro.html                  1    NaN     NaN
5   1469977544     bob     intro.html                  1    NaN     NaN
6   1469977574     bob     intro.html                  1    NaN     NaN
7   1469977604     bob     intro.html                  1    NaN     NaN
8   1469974604  cheryl     intro.html                 11    NaN     NaN
9   1469974694  cheryl     intro.html                 14    NaN     NaN
10  1469974724  cheryl     intro.html                 15    NaN     NaN
11  1469974454     sue  advanced.html                 24    NaN     NaN
12  1469974524     sue  advanced.html                 25    NaN     NaN
13  1469974424     sue  advanced.html                 23  False    10.0
14  1469974554     sue  advanced.html                 26    NaN     NaN
15  1469974624     sue  advanced.html                 27    NaN     NaN
16  1469974654     sue  advanced.html                 28    NaN     5.0
17  1469974724     sue  advanced.html                 29    NaN     NaN
18  1469974484  cheryl     intro.html                  7    NaN     NaN
19  1469974514  cheryl     intro.html                  8    NaN     NaN

In [21]:
# to replace using a regex we make the first parameter to_replace the regex pattern we want to match,
# the second parameter the value we want to emit upon match, and the third parameter we pass in "regex=True".

# we want to detect all html pages in the "video" column, lets say that just means they end with ".html", and we want
# to overwrite that with the keyword "webpage". how could we accomplish this?

# here's the solution, first matching any number of character then ending in .html
df.replace(to_replace=".*.html$", value="webpage", regex=True)

          time    user    video  playback position paused  volume
0   1469974424  cheryl  webpage                  5  False    10.0
1   1469974454  cheryl  webpage                  6    NaN     NaN
2   1469974544  cheryl  webpage                  9    NaN     NaN
3   1469974574  cheryl  webpage                 10    NaN     NaN
4   1469977514     bob  webpage                  1    NaN     NaN
5   1469977544     bob  webpage                  1    NaN     NaN
6   1469977574     bob  webpage                  1    NaN     NaN
7   1469977604     bob  webpage                  1    NaN     NaN
8   1469974604  cheryl  webpage                 11    NaN     NaN
9   1469974694  cheryl  webpage                 14    NaN     NaN
10  1469974724  cheryl  webpage                 15    NaN     NaN
11  1469974454     sue  webpage                 24    NaN     NaN
12  1469974524     sue  webpage                 25    NaN     NaN
13  1469974424     sue  webpage                 23  False    10.0
14  1469974554     sue  webpage                 26    NaN     NaN
15  1469974624     sue  webpage                 27    NaN     NaN
16  1469974654     sue  webpage                 28    NaN     5.0
17  1469974724     sue  webpage                 29    NaN     NaN
18  1469974484  cheryl  webpage                  7    NaN     NaN
19  1469974514  cheryl  webpage                  8    NaN     NaN
20  1469974754     sue  webpage                 30    NaN     NaN
21  1469974824     sue  webpage                 31    NaN     NaN
22  1469974854     sue  webpage                 32    NaN     NaN
23  1469974924     sue  webpage                 33    NaN     NaN
24  1469977424     bob  webpage                  1   True    10.0
25  1469977454     bob  webpage                  1    NaN     NaN
26  1469977484     bob  webpage                  1    NaN     NaN
27  1469977634     bob  webpage                  1    NaN     NaN
28  1469977664     bob  webpage                  1    NaN     NaN
29  1469974634  cheryl  webpage                 12    NaN     NaN
30  1469974664  cheryl  webpage                 13    NaN     NaN
31  1469977694     bob  webpage                  1    NaN     NaN
32  1469977724     bob  webpage                  1    NaN     NaN

One last note on missing values. when you use statistical functions on DataFrames, these functions typically ignore missing values. for instance, if you try and calculate the mean value of a DataFrame, the underlying NumPy function will ignore missing values. this usually what you want but you should be aware that values are being excluded. why you have missing values really matters depending upon the porblem you are trying to solve. it might be unreasonable to infer missing values, for instance, if the data shouldnt exist in the first place.